.pageHeader {
  text-align: center;
}
/*TAGS*/
.tagsContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3ch;
}
.tagsContainer p {
  text-align: center;
  letter-spacing: 1pt;
  font-size: 1.5rem;
  color: white;
}
.tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4ch;
}
.singleTag {
  background-color: lightblue;
  color: black;
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.707);
}
.singleTag:hover {
  transition: 0.5s all ease-in;
  color: white;
}
.activeTag {
  background-color: black;
  color: white;
}

/* BLOGS */
.blogsContainer {
  display: grid;
  grid-gap: 12ch;
  padding: 80px 0px;
}
.moreActive {
  grid-template-columns: 1fr 1fr 1fr;
}
.twoActive {
  grid-template-columns: 1fr 1fr;
}
.oneActive {
  grid-template-columns: 1fr;
}
/*INDIVIDUAL BLOG*/
.blog {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  width: 100%;
  box-shadow: 10px 10px 20px 6px rgba(0, 0, 0, 0.707);
}
.blogThumbnail {
  width: 100%;
  height: 300px;
  border-radius: 20px 20px 0 0;
}
.blogTitle {
  height: 50px;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  font-weight: bold;
  font-size: 1.2rem;
}
.blogInfo {
  display: flex;
  justify-content: center;
  gap: 1ch;
  height: 50px;
  width: 100%;
  font-size: 10pt;
  color: rgb(116, 108, 108);
  padding-top: 10px;
}
.blogContent {
  height: 250px;
  width: 100%;
  padding: 20px;
}
.readMoreButton {
  padding-bottom: 20px;
}
.readMoreButton button {
  background: #007b8d;
}

/*MOBILE STYLE*/
@media screen and (max-width: 1400px) {
  .moreActive {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 920px) {
  .moreActive,
  .twoActive {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 400px) {
  .tags {
    grid-template-columns: 1fr 1fr;
  }
}
