.logoContainer {
  width: 120px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.logoContainer > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.uefaLogo {
  width: 120px;
  height: 60px;
}
@media screen and (max-width: 960px) {
  .logoContainer {
    margin-left: 20px;
  }
}
