.counterContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 35%;
  left: 50%;
  align-items: center;
  z-index: 1;
}
.counterContainer h1 {
  color: #ffd700;
  letter-spacing: 10pt;
  font-weight: bold;
  padding-bottom: 60px;
  font-size: 2rem;
}
.countdownWrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  text-align: center;
  min-width: 600px;
  width: 100%;
  font-size: 2rem;
  text-transform: uppercase;
}
.timeText {
  color: white;
}
.time {
  font-weight: bold;
  color: #ffd700;
}

@media only screen and (max-width: 620px) {
  .counterContainer {
    top: 65%;
  }
  .countdownWrapper {
    font-size: 1.2rem;
    flex-flow: column;
    min-width: 300px;
  }
  .counterContainer h1 {
    padding-bottom: 25px;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 7pt;
  }

  .timeSection {
    padding: 10px 0px;
  }
}
@media only screen and (max-width: 420px) {
  .counterContainer {
    top: 58%;
  }
  .countdownWrapper {
    min-width: 300px;
  }
  .timeSection {
    padding: 5px 0px;
  }
}
