/*COUNTER CONTAINER*/
.counterContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 35%;
  left: 50%;
  align-items: center;
  z-index: 1;
  max-width: 1000px;
  width: 100%;
  transition: 0.5s all ease-out;
}

/*TITLE AND DATE*/
.counterContainer h1,
h2 {
  font-weight: bold;
  padding-bottom: 35px;
}
.title {
  color: #ffd700;
  font-size: 4rem;
  letter-spacing: 10pt;
}
.date {
  color: white;
  font-size: 2rem;
  letter-spacing: 5pt;
  display: flex;
  gap: 1ch;
}

/*COUNTING INFO CONTAINER*/
.countdownWrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  text-align: center;
  gap: 4ch;
  max-width: 1000px;
  width: 100%;
  font-size: 2rem;
  text-transform: uppercase;
}
.timeText {
  color: white;
}
.time {
  font-weight: bold;
  color: #ffd700;
}

/*MOBILE STYLES*/
@media only screen and (max-width: 1700px) {
  .countdownWrapper {
    gap: 3ch;
  }
}

@media only screen and (max-width: 1500px) {
  .countdownWrapper {
    gap: 2ch;
  }
}
@media only screen and (max-width: 1400px) {
  .counterContainer {
    top: 55%;
  }
  .countdownWrapper {
    flex-flow: column;
    max-width: 300px;
  }
}

@media only screen and (max-width: 1050px) {
  .counterContainer {
    max-width: 800px;
  }
}
@media only screen and (max-width: 850px) {
  .counterContainer {
    max-width: 700px;
  }
}

@media only screen and (max-width: 740px) {
  .counterContainer {
    top: 60%;
  }
  .counterContainer h1,
  h2 {
    padding-bottom: 15px;
  }
  .countdownWrapper {
    font-size: 1.2rem;
  }
  .title {
    font-size: 2rem;
  }
  .date {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 420px) {
  .title {
    font-size: 1.4rem;
  }
  .countdownWrapper {
    max-width: 300px;
  }
  .date {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  .countdownWrapper {
    max-width: 260px;
  }
}
