.navigationHeader {
  background: #242222;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}
@media screen and (max-width: 960px) {
  .navigationHeader {
    justify-content: space-between;
  }
}
